@import "../../_globalColor";

// General Styling
.card-image {
  max-width: 100%;
  height: auto; /* Ensure the image maintains its aspect ratio */
  object-fit: cover; /* Ensures the image covers its container */
}

.card-title {
  color: $titleColor;
  font-size: 1.375rem; /* Adjusted to use rem for better scaling */
  line-height: 1.5rem;
  font-weight: 700;
  margin: 15px 0 0 0;
}

.card-subtitle {
  color: $cardSubtitle;
  font-size: 1.0625rem;
  line-height: 1.5rem;
}

// Project Card Styling
.project-card {
  display: flex;
  flex-direction: column;
  background-color: $lightBackground2;
  padding: 1.5rem;
  border-radius: 10px;
  border: 1px solid $lightBorder1;
  justify-content: center;
  transition: all 0.3s ease;
}

.project-card-light {
  box-shadow: $lightBoxShadowDark 0px 10px 30px -15px;
}

.project-card-dark {
  box-shadow: 0px 10px 30px -15px $darkBoxShadow;
}

.project-card-light:hover,
.project-card-dark:hover {
  box-shadow: $lightBoxShadowDark 0px 20px 30px -10px,
    $darkBoxShadow 0px 20px 30px -10px;
}

.project-detail {
  text-align: center;
}

.project-image {
  position: relative;
  height: 200px; /* Adjusted height for better responsiveness */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Projects Container for Grid Layout
.projects-container {
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* Display 3 columns for normal screens */
  gap: 1rem 1rem;
}

// Responsive Design for Medium Screens
@media (max-width: 1200px) {
  .projects-container {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Switch to 2 columns for medium screens */
  }
}

// Responsive Design for Small Screens
@media (max-width: 768px) {
  .projects-container {
    grid-template-columns: 1fr; /* Switch to 1 column for small screens */
  }

  .card-title {
    font-size: 1.25rem; /* Slightly smaller for mobile */
  }

  .card-subtitle {
    font-size: 1rem;
    text-align: center;
  }

  .project-image {
    height: 150px; /* Adjust height for mobile screens */
  }
}

// Responsive Design for Extra Small Screens (Mobile)
@media (max-width: 480px) {
  .project-card {
    padding: 1rem; /* Reduced padding for smaller screens */
  }

  .project-card-footer span.project-tag {
    font-size: 0.7rem; /* Smaller font for tags */
    height: 1.5em;
    padding: 0 0.5em;
    margin: 0 0.25rem 0.25rem 0;
  }
}

// Footer Tag Styling
.project-card-footer span.project-tag {
  background: $buttonColor;
  color: $lightBackground3;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  height: 2em;
  padding: 0 0.75em;
  margin: 0 0.5rem 0.5rem 0;
  cursor: pointer;
  transition: background 0.2s ease-in;
}
