@import "../../_globalColor";

/* Styling for the project card images */
.card-image {
  max-width: 100%;
  height: auto;
  width: 100%; /* Set width to 100% for full responsiveness */
  max-width: 490px; /* Control the max size of the images */
  object-fit: cover; /* Ensures the image covers its container */
}

/* Heading and subtitle styling */
.achievement-heading {
  font-size: 3.5rem; /* Scales for better responsiveness */
  font-weight: 400;
  line-height: 1.2; /* Adjust line-height for readability */
  margin: 0px;
}

.achievement-subtitle {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 50px;
}

.subTitle {
  color: $subTitle;
}

/* Projects Container Grid Layout */
.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns for normal screen sizes */
  gap: 1rem; /* Adjust gap between cards */
}

/* Media Query for large screens (below 1380px) */
@media (max-width: 1380px) {
  .achievement-heading {
    font-size: 2.5rem; /* Reduced size for large tablets or small desktops */
  }

  .projects-container {
    grid-template-columns: repeat(2, 1fr); /* Switch to 2 columns */
  }
}

/* Media Query for medium screens (below 1024px) */
@media (max-width: 1024px) {
  .achievement-heading {
    font-size: 2rem; /* Further reduce heading size for medium screens */
    text-align: center;
  }

  .achievement-subtitle {
    font-size: 1.125rem; /* Adjust subtitle size */
    line-height: 1.2;
    text-align: center;
  }

  .projects-container {
    grid-template-columns: 1fr 1fr; /* Keep 2 columns for wider tablets */
  }
}

/* Media Query for small screens (below 768px) */
@media (max-width: 768px) {
  .achievement-heading {
    font-size: 1.875rem; /* Smaller heading for mobile devices */
    text-align: center;
  }

  .achievement-subtitle {
    font-size: 1rem; /* Adjust subtitle size */
    line-height: 1.2;
    text-align: center;
  }

  .projects-container {
    grid-template-columns: 1fr; /* Switch to 1 column */
  }
}

/* Media Query for extra small screens (below 480px) */
@media (max-width: 480px) {
  .achievement-heading {
    font-size: 1.5rem; /* Smaller font size for extra small screens */
  }

  .achievement-subtitle {
    font-size: 0.875rem; /* Smaller subtitle size */
  }

  .projects-container {
    grid-template-columns: 1fr; /* Keep 1 column */
    gap: 0.5rem; /* Reduce gap for extra small screens */
  }

  .card-image {
    height: auto; /* Allow images to scale naturally */
  }
}
